// Imported font family for use on the modals

@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,600&subset=latin-ext');

// Variables holding commonly used colours

$primarycolour: rgb(155, 208, 226);
$secondarycolour: #8380B6;
$tertiarycolour: #C2CAE8;
$fourthcolour: #111D4A;
$fifthcolou: #8789C0;
$contrastcolour: #45F0DF;


// Main css styling


html, body {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    background-color: $tertiarycolour;
  }

.row {
    width: 100%;
    border-top: 10px $contrastcolour solid;
    margin-bottom: 0 !important;
}

::after {
    content: none !important;
}

.nav-wrapper {
    background-color: #111D4A !important;
}

// Home section

#home {
    display: flex;
    flex-wrap: wrap;    
    background-color: $tertiarycolour;
    align-content: center;
    padding-top: 20px; 

    h1 {
        font-size: 50px;
    }

    h2 {
        font-size: 40px;
    }

    h5 {
        font-size: 20px;
    }
}

.sidenav {
    width: 250px !important;

    li {
        
        border-bottom: 2px $contrastcolour groove;
    }
}

#details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    text-align: center;
    padding-bottom: 20px;
     
    
    h2 {
    
        text-align: center;
    }

}

.image-col {
    margin: auto;
}

.line {
    height: 3px;
    width: 70%;
    background-color: grey;
    text-align: center;
}

.buttons {
    padding-top: 15px;
    text-align: center;
}

// About Me Section

.about-me-row {

    background-color: $secondarycolour;
    margin-bottom: 0 !important;
    text-align: center;
    
    h1 {
        margin: 0;
        padding: 20px 0;
        font-size: 3rem;
        font-weight: bold;
        
    
        }
}


#brand-statement {
    
    min-height: 450px;
    background-position: center;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#about-me {
    margin: 0 auto;
    text-align: center;
    line-height: 2rem;
    font-weight: 500;
}

// Portfolio section

.heading {
    background-color: $tertiarycolour;
    text-align: center;

    h1 {
        margin: 0;
        padding: 20px 0;
        font-size: 3rem;
        font-weight: bold;
        background-color: $secondarycolour;
    }

    .line {
        width: 100%;
    }
}

.carousel {
    text-align: center;
    height: 300px;
    
    .carousel-item {
        width: 150px !important;
        height: 150px !important;
    }    
    
    .fas {
        font-size: 70px;
        padding-bottom: 20px;
        color: black;
    }

    h4 {
        color: black;
        font-size: 25px;
    }

}

.collapsible {
    margin-top: 20px;
}

// Modals

* {
  box-sizing: border-box;
}

.container {
  
  display: flex;
  align-items: center;
  justify-content: center;
  height: 0;
}


.popup {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, .80);
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  overflow: visible;
  transition: .64s ease-in-out;
  &-inner {
    position: relative;
    bottom: -100vw;
    right: -100vh;
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 80%;
    height: 80%;
    padding-top: 20px;
    margin-top: 30px;
    background-color: #fff;
    transform: rotate(32deg);
    transition: .64s ease-in-out;
    overflow-y: scroll;
    overflow-x: hidden;
    
  }
  &__photo {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    width: 100%;
    height: auto;  

    img {   
    max-width: 80%;
    max-height: auto;
    }
  }
  &__text {    
    flex-direction: column;
    justify-content: center;
    width: 80%;
    height: 100%;
    overflow: visible;
    text-align: center;    
    h1 {
      font-size: 2rem;
      font-weight: 600;
      margin-bottom: 2rem;
      text-transform: uppercase;
      color: #0A0A0A;
    }
    p {
      font-size: .875rem;
      color: #686868;
      line-height: 1.5;
    }

    img {
        width: 100%;
        height: auto;
    }
  }
  &:target {
    visibility: visible;
    opacity: 1;
    .popup-inner {
      bottom: 0;
      right: 0;
      transform: rotate(0);
    }
  }
  &__close {
    position: absolute;
    right: 5%;
    top: 9%;
    width: 3rem;
    height: 3rem;
    font-size: .875rem;
    font-weight: bold;
    border-radius: 100%;
    background-color: $contrastcolour;
    z-index: 4;
    color: black;
    line-height: 3rem;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
  }
}

.education-header {
    text-align: center;
    h1 {
        margin: 0;
        padding: 20px 0;
        font-size: 3rem;
        font-weight: bold;
        background-color: $secondarycolour;
    }
}

.educ-ex {
    text-align: center;

    h4 {
        text-align: center;
        font-weight: bold;
    }

    h5 {
        text-align: center;
        font-weight: bold;
    }
    
    .educ-img {
        width: 100%;
        height: 285px;
        padding-top: 10px;
    }
}

// Responsiveness

@media only screen and (min-width: 375px) {
    .popup__photo {
        width: 80%;        
    }
}

@media only screen and (min-width: 425px) {
    .popup__photo {
        width: 60%;        
    }
}

@media only screen and (min-width: 768px) {
    #home {
        padding-top: 0;
    }

    .sidenav {
        width: 300px !important;
    }

    .about-me-row {
        h1 {
            font-size: 4.2rem;
        }
    }
    
    #about-me {
        width: 50%;
    }

    .heading {
        h1 {
            font-size: 4.2rem;
        }
    }

    .carousel {
        
        height: 400px;
        
        .fas {
            font-size: 100px;
        }

        .carousel-item {
            padding: 0 17px;
            width: 200px;
            height: 200px;
        }

        h4 {
            
            font-size: auto;
        }
    }

    .popup__photo {
        width: 40%;        
    }

    .popup__text {
        
        p {
            font-size: 16px;
        }
    }

    .popup__close {
        right: 7%;
    }

    .education-header {
        h1 {
            font-size: 4.2rem;
        }
    }

    .educ-ex {
    
    .educ-img {
        
        height: 250px;
        
        }
    }    
    
}

@media only screen and (min-width: 1024px) {
    .popup-inner {

        width: 70%;
        flex-direction: row;
        padding-right: 40px;
         
        
    }

    .popup__photo {
        height: auto;
        width: 100%;
        
    }

    .popup__text {
        text-align: center;        
    }

    .popup__close {
        right: 13%;
    }

    .educ-ex {
    
        .educ-img {
            
            height: 400px;
            
            }
        }
}

@media only screen and (min-width: 1440px) {
    .carousel {                
        
        .carousel-item {
            width: 250px !important;
            height: 250px !important;
            
        }    
        
        .fas {
            font-size: 150px;
            padding-bottom: 20px;
            color: black;
        }
    
        h4 {
            color: black;
            font-size: 35px;
        }
    
    }
    
    .popup-inner {

        
        flex-direction: row;
        padding-right: 40px;
              
        
    }

    .popup__photo {
        height: 100%;
        width: auto;
        
    }

    .popup__text {
        width: 60%;
        text-align: center;
    }
    
    
}

@media only screen and (min-width: 1920px) {

    .popup__close {
        right: 14%;
    }
}